<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289257148619-6t09g0t7tjf536eoea3tnku6beid1kc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289257148619-6t09g0t7tjf536eoea3tnku6beid1kc6</string>
	<key>API_KEY</key>
	<string>AIzaSyB2n5bTl1Bw0nGQSHOjJ8noPd7YJBn6zMI</string>
	<key>GCM_SENDER_ID</key>
	<string>289257148619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozmaio.bossup</string>
	<key>PROJECT_ID</key>
	<string>the-boss-app-e42b6</string>
	<key>STORAGE_BUCKET</key>
	<string>the-boss-app-e42b6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289257148619:ios:32c55abea16e6496accb4e</string>
</dict>
</plist>