name: EAS Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build on EAS
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Run production builds workflow
        run: eas workflow:run create-production-builds.yml --non-interactive --wait

      - name: Submit to App Store
        run: eas submit --platform ios --profile production --latest --non-interactive

      - name: Submit to Google Play
        run: eas submit --platform android --profile production --latest --non-interactive

