name: EAS Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build on EAS
    runs-on: ubuntu-latest
    env:
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "$EXPO_TOKEN" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ env.EXPO_TOKEN }}

      - name: Run production updates workflow
        run: eas workflow:run create-production-updates.yml --non-interactive --no-wait

      - name: Run production builds workflow
        run: eas workflow:run create-production-builds.yml --non-interactive --no-wait

