name: EAS Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build on EAS
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      # TODO: Change to production profile after setting up credentials
      # iOS: Run locally once: eas build --platform ios --profile production
      #      This will set up Distribution Certificate and Provisioning Profile on Expo servers
      # Android: Run locally once: eas build --platform android --profile production
      #          This will set up production keystore for signing
      - name: Build preview for iOS
        run: eas build --platform ios --profile preview --non-interactive --no-wait

      - name: Build preview for Android
        run: eas build --platform android --profile preview-device --non-interactive --no-wait

